html, body {
  background: black;
  font-family: "Libre Baskerville", serif;
  color: white;
}

body {
  margin: 3rem;
  
  a {
    font-weight: 700;
    color: #A02823;
  }
}
/*
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
*/